<div class="container-sm">
  <h2 class="text-white my-4">Today-{{title}}</h2>
  <hr class="divider bg-white" />
  <figure class="text-center">
    <blockquote class="blockquote">
      <p class="text-white bg-dark">The memory warms you up inside, but it also
        breaks your soul apart.</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      Never look back
      <cite title="Source Title"> — Enjoy every moment </cite>
    </figcaption>
  </figure>
  <img
    src="https://picsum.photos/500"
    class="rounded mx-auto d-block"
    alt="..."
  />
  <br />
  <p class="text-white bg-dark text-center">Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Explicabo velit assumenda voluptatum
    dignissimos quae, veritatis praesentium vel eveniet unde mollitia dolores
    sequi, laboriosam nisi enim quia inventore animi natus exercitationem! Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Hic error explicabo
    nesciunt fugiat ad corrupti quos delectus minus nam nisi enim quo, a, magnam
    adipisci necessitatibus voluptas assumenda itaque ut!
  </p>

  <br />
  {{! long text }}
  <p class="text-white bg-dark">Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Explicabo velit assumenda voluptatum dignissimos quae,
    veritatis praesentium vel eveniet unde mollitia dolores sequi, laboriosam
    nisi enim quia inventore animi natus exercitationem! Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Hic error explicabo nesciunt fugiat ad
    corrupti quos delectus minus nam nisi enim quo, a, magnam adipisci
    necessitatibus voluptas assumenda itaque ut!Lorem Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Nisi officiis blanditiis aliquam suscipit in
    ex optio, expedita porro laborum! Doloribus explicabo ipsum fugit odit
    earum. Quis laborum magni eos iste. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Earum nesciunt necessitatibus doloribus aut ipsa
    architecto ipsum numquam dolores et molestiae voluptate quos deserunt
    eveniet, dicta ducimus totam eius corporis aspernatur? Lorem ipsum dolor
    sit, amet consectetur adipisicing elit. Asperiores nesciunt rem ut est
    maiores ad facilis quae cupiditate, beatae nam ullam modi numquam nihil
    accusamus eligendi, natus saepe ducimus non nisi odit! Magni, consequatur?
    Quasi, repudiandae quaerat. adipisicing elit. Explicabo velit assumenda
    voluptatum dignissimos quae, veritatis praesentium vel eveniet unde mollitia
    dolores sequi, laboriosam nisi enim quia inventore animi natus
    exercitationem! Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
    error explicabo nesciunt fugiat ad corrupti quos delectus minus nam nisi
    enim quo, a, magnam adipisci necessitatibus voluptas assumenda itaque
    ut!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
    officiis blanditiis aliquam suscipit in ex optio, expedita porro laborum!
    Doloribus explicabo ipsum fugit odit earum. Quis laborum magni eos iste.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nesciunt
    necessitatibus doloribus aut ipsa architecto ipsum numquam dolores et
    molestiae voluptate quos deserunt eveniet, dicta ducimus totam eius corporis
    aspernatur? Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    Asperiores nesciunt rem ut est maiores ad facilis quae cupiditate, beatae
    nam ullam modi numquam nihil accusamus eligendi, natus saepe ducimus non
    nisi odit! Magni, consequatur? Quasi, repudiandae quaerat.
  </p>

  <div class="grid gap-5">
    <img
      height="250px"
      src="https://picsum.photos/500"
      class="card-img-top"
      alt="..."
    />
    <img
      height="250px"
      src="https://picsum.photos/500"
      class="card-img-top"
      alt="..."
    />
    <img
      height="250px"
      src="https://picsum.photos/500"
      class="card-img-top"
      alt="..."
    />
    <img
      height="250px"
      src="https://picsum.photos/500"
      class="card-img-top"
      alt="..."
    />
    <img
      height="250px"
      src="https://picsum.photos/500"
      class="card-img-top"
      alt="..."
    />
    <img
      height="250px"
      src="https://picsum.photos/500"
      class="card-img-top"
      alt="..."
    />
  </div>
  <br />
  <hr class="divider bg-white" />
  <div class="mb-3">
    <form class="form-floating">
      <input
        type="email"
        class="form-control"
        id="floatingInputValue"
        placeholder="name@example.com"
      />
      <label for="floatingInputValue">Input with value</label>
    </form>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
      placeholder="Leave a comment here"
    ></textarea>
  </div>
  <button class="btn btn-outline-light" type="button">Button</button>
</div>