<div class="container-sm">
    <h2 class="text-white my-4">Today-{{title}}</h2>   
    <hr class="divider bg-white">

    <div class="grid gap-3">

        <div class="card bg-dark text-white shadow-sm">
            <img height="250px" src="https://picsum.photos/500" class="card-img-top" alt="...">
            <div class="card-body">
                <h4>Title</h4>
                <span class="text-xs text-secondary">01.02.2022</span>
                <p class="my-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium animi eaque
                obcaecati
                aperiam voluptates sapiente distinctio excepturi.</p>
                <a href="" class="w-50 btn btn-primary">Read</a>
            </div>
        </div>
    
        <div class="card bg-dark text-white shadow-sm">
            <img height="250px" src="https://picsum.photos/500" class="card-img-top" alt="...">
            <div class="card-body">
                <h4>Title</h4>
                <span class="text-xs text-secondary">01.02.2022</span>
                <p class="my-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium animi eaque
                obcaecati
                aperiam voluptates sapiente distinctio excepturi.</p>
                <a href="" class="w-50 btn btn-primary">Read</a>
            </div>
        </div>

                <div class="card bg-dark text-white shadow-sm">
            <img height="250px" src="https://picsum.photos/500" class="card-img-top" alt="...">
            <div class="card-body">
                <h4>Title</h4>
                <span class="text-xs text-secondary">01.02.2022</span>
                <p class="my-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium animi eaque
                obcaecati
                aperiam voluptates sapiente distinctio excepturi.</p>
                <a href="" class="w-50 btn btn-primary">Read</a>
            </div>
        </div>
    
        <div class="card bg-dark text-white shadow-sm">
            <img height="250px" src="https://picsum.photos/500" class="card-img-top" alt="...">
            <div class="card-body">
                <h4>Title</h4>
                <span class="text-xs text-secondary">01.02.2022</span>
                <p class="my-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium animi eaque
                obcaecati
                aperiam voluptates sapiente distinctio excepturi.</p>
                <a href="" class="w-50 btn btn-primary">Read</a>
            </div>
        </div>

    </div>
</div>